/* =============
   Card
============= */

/* Card Box */
.card-box{
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: $white;
}


/* Card */
.card {
  border: none;
  
}

.card-body{
  box-shadow: 0px 2px 4px 0px #80808033;
}
.card-title,.card-header {
  margin-top: 0 !important;
}

.card-header,.card-footer {
  background-color: $light;
  border-bottom-color: darken($light,5%);
}

.card-footer {
  border-top-color: darken($light,5%);
}